@-moz-document domain("freefeed.net") {

body
, .expandable .expand-panel
  { background : #222 !important }

.sidebar .box-body
, .content .box-body
, .content .box-footer
, .arrow-span
, .post
, .sidebar
, .sidebar-emt
, .nodeAuth
, .sh-item
  { background : none !important }

a
, .expandable .expand-panel .expand-button
  { color : #666 !important }

body
, .box-header
, .box-header-empty
, .box-header-timeline
, .box-header-friends
, .box-header-groups
, .box-header-search
, .post .post-body
, .post .post-top .post-text
, .post .post-body .post-text
, .Select-value-label-standalone
, .Select--multi .Select-value
, .profile .description
, .btn-default
, .open > .btn-default.dropdown-toggle
, .user-profile .profile-description
, .post-cont
, h3
, .sh-selected a
  { color : #bbb !important }

.post
, .profile
, .box-header
, .box-header-empty
, .box-header-timeline
, .box-header-friends
, .box-header-groups
, .box-header-search
, .create-post
, .profile-controls
, .sb-emt-title
  { border-bottom-color : #666 !important }

.pagetitle
  { border-top-color : #666 !important }

.settings-head div
  { border-color : #333 !important }

.post-editor .post-textarea
, .comment .comment-textarea
, .search-form .search-input
, .Select-value-label-standalone
, .Select--multi .Select-value
, .Select-control
, .search-form .search-button
, .image-attachments .image-attachment-link
, .btn-default
, .open > .btn-default.dropdown-toggle
, .sidebar a.bookmarklet-button
, .form-control
, .edit-txt-area
  { background : #333 !important
  ; border : 0 !important
  }

.search-form .search-button:hover
, .search-form .search-button:focus
, .search-form .search-button:active
, .btn-default:hover
, .btn-default:focus, .btn-default.focus
, .btn-default:active, .btn-default.active
, .open > .btn-default.dropdown-toggle
, .sh-selected
, .new-post-feed
, .removeable-item
  { background : #666 !important }

.search-form .search-input
  { margin-top : 0 !important
  ; padding : 2px 4px !important
  }

.link-preview .folder-container .content-wrapper.folded::after
  { background: -webkit-linear-gradient(
                rgba(34, 34, 34, 0) 0%
              , rgba(34, 34, 34, 0.2) 25%
              , rgba(34, 34, 34, 0.8) 75%
              , #222 100%
              ) !important
  ; background: -o-linear-gradient(
                rgba(34, 34, 34, 0) 0%
              , rgba(34, 34, 34, 0.2) 25%
              , rgba(34, 34, 34, 0.8) 75%
              , #222 100%
              ) !important
  ; background: linear-gradient(
                rgba(34, 34, 34, 0) 0%
              , rgba(34, 34, 34, 0.2) 25%
              , rgba(34, 34, 34, 0.8) 75%
              , #222 100%
              ) !important
  }

.preview-expand
  { padding-bottom : 8px !important }

.comment-icon i.fa-inverse
  { display : none !important }

.likes .likes-icon .icon-heart
, .comment .comment-icon.comment-icon-special .icon-comment
, .comment .comment-icon .icon-comment
, .comment .comment-icon .icon-comment-plus
, .comment .comment-likes.clikes-zero .clikes-icon .icon-heart
, .comment .comment-likes .clikes-icon .icon-heart
  { fill : #222 !important }

.likes-smile .icon
  { color : #222 !important }

}
